.m-dashboard-skin {
    .u-title {
        .u-link {
            // font-weight: normal;
            // font-size: 14px;
            .ml(5px);
            display: inline-flex;
            gap:3px;
        }
    }
}

@media screen and (max-width: @phone) {
    .m-dashboard-skin {
        > .u-title {
            display: flex;
            align-items: center;
            gap: 8px;

            .u-link {
                flex-shrink: 0;
                margin-left: auto;
            }
        }
    }
}
