.v-miniprogram {
    .c-breadcrumb {
        position: sticky;
        top: 0;
    }

    .c-main {
        margin-top: 0;
    }

    .c-sidebar-left,
    .c-sidebar-right {
        top: 48px;
    }

    // dashboard {
    .v-role-list {
        .u-title > .u-op {
            .none;
        }
    }

    // vip
    .m-vip-container {
        margin-top: 0;
    }
    .m-premium-container {
        margin-top: 48px;
    }

    // mallWeb
    .m-mall-web-header {
        height: 9.6vw !important;
    }
    .breadcrumb-container {
        top: 0 !important;
    }
    .m-mall-web {
        height: calc(100vh - 9.6vw) !important;
    }
}
