.m-page-address {
    .m-content {
        .mt(20px);
        .m-button {
            .flex;
            gap: 20px;
        }

        .m-actions {
            .flex;
            align-items: center;
            gap: 10px;
        }
    }
}
.m-address-dialog {
    max-width: calc(100vw - 32px);
    .r(8px);

    .el-dialog__body {
        padding: 10px 5px;
    }

    .u-address,
    .el-input,
    .el-cascader {
        .w(100%);
    }

    .el-form--label-top .el-form-item__label {
        padding: 0 0 8px;
        line-height: 20px;
        color: #606266;
        font-weight: 500;
    }

    .el-form-item {
        margin-bottom: 22px;
    }

    .m-detail-address {
        margin: 12px 0 0;
        .w(100%);

        .el-form-item__content {
            .w(100%);
        }
    }

    .el-input__wrapper,
    .el-cascader .el-input__wrapper {
        min-height: 36px;
    }

    @media screen and (max-width: 720px) {
        .el-dialog__body {
            padding: 20px 20px 4px;
        }
    }
}

.el-popconfirm__action {
    .flex;
    justify-content: flex-end;
}
