.c-main.m-dashboard-container {
    padding: 20px;
    min-height: calc(100vh - 64px - 48px - 40px);

    h2.u-title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        border-bottom: 1px solid @border;
        padding-bottom: 10px;
        .mb(10px);
    }
}
.c-sidebar-left.m-dashboard-left {
    padding: 10px 0 0 0;
}

.m-dashboard-sidebar-toggle {
    display: none;
}

@media screen and (max-width: 1199px) {
    .c-sidebar-left.m-dashboard-left .c-sidebar-left-toggle {
        display: none;
    }

    .m-dashboard-sidebar-toggle {
        display: block;
        position: fixed;
        z-index: 601;
        top: 50%;
        left: 0;
        width: 21px;
        height: 40px;
        padding: 0;
        cursor: pointer;
        color: #999;
        background-color: @bg-light;
        border: 1px solid #eee;
        border-left: 0;
        border-radius: 0 2px 2px 0;
        transition: left 0.2s ease-in-out;

        &.is-open {
            left: @aside-left - 60px;
        }

        &:hover {
            color: #222;
        }
    }
}
// .m-dashboard-person{
//     padding:25px 35px;
// }
@media screen and (max-width: @phone) {
    .m-dashboard-person {
        padding: 10px 20px;
    }
}
.m-dashboard-tabs {
    .u-mail {
        fill: @color;
        .y(-3px);
    }
    .is-active {
        .u-mail {
            fill: @primary;
        }
    }
    .el-tabs__item:hover {
        .u-mail {
            fill: @primary;
        }
    }
    .u-tab-icon {
        min-width: 14px;
        margin-right: 4px;
    }
    .u-count {
        color: gray;
        &.is-orange {
            color: orange;
        }
    }
}
