.m-tip-box{
    border-bottom:1px solid #eee;
    margin-bottom:10px;
}

.m-ic-tip{
    .mt(20px);
    .mb(20px);
    border:1px solid #fba524;
    white-space: pre-line;
    .el-alert__title,.el-alert__description{
        .fz(12px);
    }
}

.m-ic-in-list{
    .u-copy{
        .pointer;
        &:hover{
            color:@v4primary;
        }
    }
}

@media screen and (max-width: @phone) {
    .m-ic {
        .m-tip-box {
            padding-bottom: 12px;

            > .u-btn {
                width: 100%;
                min-height: 40px;
            }
        }

        .m-ic-tip {
            margin: 12px 0 0;
        }

        .m-ic-in-list {
            min-width: 520px;
        }
    }
}
