#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
body {
    background-color: #0a040f;
}
html,
body,
#app,
.m-main,
.p-birthday {
    .full;
}
.m-main {
    .pr;
    min-width: 1200px;
    min-height: 960px;
}
.p-birthday {
    .pr;
    .flex;
    justify-content: center;
    align-items: center;
    background-color: #0a040f;
    .u-video {
        .full;
    }
}
