.m-mobile-me{
    background: #FFF;

    @media (prefers-color-scheme: dark) {
        background: #1C1C1C;
    }
    height: 100vh;

    .el-loading-mask{
        background: #FFF;

        @media (prefers-color-scheme: dark) {
            background: #1C1C1C;
        }
    }

    .m-bg{
        height: 193px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, #1C1C1C 7.64%, rgba(28, 28, 28, 0.00) 100%);
    }

    .m-user-header{
        max-width: 100%;
        box-sizing: border-box;
        padding-top: 150px;
        background-position: right top;
        background-size: cover;
        background-repeat: no-repeat;
        // 加个渐变 linear-gradient(0deg, #1C1C1C 7.64%, rgba(28, 28, 28, 0.00) 100%)

        .m-header {
            border-radius: 20px 20px 0px 0px;
            background: #fff;
            @media (prefers-color-scheme: dark) {
                background: #000;
            }
            padding-bottom: 16px;
            position: relative;
            .m-name-avatar{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;
                position: absolute;
                top: -120px;
                padding: 0 20px;

                .m-avatar-box {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    position: relative;

                    .c-avatar{
                        background: none;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                    }

                    .u-frame{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100px;
                        height: 100px;
                    }

                    &.no-frame{
                        background: none;
                    }
                }

                .u-name-uid{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: var(--0, 0px);


                    color: var(--primary-white, #FFF);
                    /* 24 Bold */
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px; /* 155.556% */

                    .u-uid{
                        color: var(--Primary-White, #FFF);

                        /* 12 Regular */
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 150% */
                    }
                }


            }

            .m-info-box{
                padding: 12px 20px 0;
                display: flex;
                width: 100%;
                box-sizing: border-box;
                flex-direction: column;
                gap: 16px;
                position: relative;


                .m-item-hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                }
                .u-info {
                    display: flex;
                    align-items: center;
                    gap: var(--16, 16px);
                    align-self: stretch;

                    .u-value{
                        display: flex;
                        padding: var(--0, 0px);
                        align-items: center;
                        gap: var(--4, 4px);

                        color: var(--black-100, #FFF);

                        /* 14 Bold */
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px; /* 142.857% */


                        .u-tip{
                            color: var(--black-80, rgba(255, 255, 255, 0.80));
                            /* 10 Regular */
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 15px; /* 150% */
                        }
                    }



                }


                .u-decoration {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 0;
                }
                .m-signature{
                    color: var(--black-100, #FFF);

                    /* 14 Regular */
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }

                .m-ext-info{

                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    .u-level,
                    .u-author,
                    .u-pro,
                    .u-fans {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: var(--0, 0px);

                        border-radius: 4px;
                        background: var(--primary-brand, #282828);
                        padding: 4px 8px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 14px;

                        text-align: center;
                        color: var(--secondary-mint);
                    }
                    .u-level {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }
                    .u-author {
                        color: var(--secondary-orange);
                    }
                    .u-pro {
                        span{
                            background: linear-gradient(51deg, #42FFD2 0%, #FF007A 100%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    .u-fans {
                        color: #ff9bc6;
                    }
                }

                .m-op{
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    align-self: stretch;

                    .u-subscribe{

                        display: flex;
                        width: 240px;
                        padding: 8px 12px;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;

                        border-radius: 8px;
                        background: var(--primary-brand-2, #FEDAA3);

                        color: var(--primary-brand-3, #24292E);

                        /* 14 Bold */
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px; /* 142.857% */
                        border: none;

                        &:after{
                            border: none;
                        }
                    }

                    .u-more{
                        display: flex;
                        padding: 9px 5px;
                        justify-content: center;
                        align-items: center;
                        gap: 4px;
                        flex: 1 0 0;

                        border-radius: 8px;
                        background: var(--primary-brand, #282828);

                        .u-icon{
                            width: 18px;
                            height: 18px;
                            fill: var(--black-100);

                            @media (prefers-color-scheme: dark) {
                                fill: var(--black-100);
                            }
                        }
                    }

                }


            }
        }
    }

    .m-content-tab-list{
        .m-tabs{
            z-index: 1;
            border-bottom: 0.5px solid var(--black-10, rgba(28, 28, 28, 0.10));
            margin: 0;
            background: #fff;
            padding-top: 12px;

            &.fixed{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 100;
            }

            @media (prefers-color-scheme: dark) {
                background: #000;
            }
            .el-tabs__nav-wrap:after{
                background: none;
            }
            .el-tabs__active-bar{
                background: var(--black-100, #1C1C1C);
            }

            .el-tabs__header{
                margin: 0;
            }

            .el-tabs__item{
                color: var(--black-100, #FFF);
                text-align: center;
                padding: 0;
                /* 14 Bold */
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 142.857% */
                height: 28px;
            }
        }

        .m-primary{
            box-sizing: border-box;
            width: 100%;

            background: #FFF;

            @media (prefers-color-scheme: dark) {
                background: #1C1C1C;
            }
        }

        .m-sub-tabs{
            z-index: 1;
            border-bottom: 0.5px solid var(--black-10, rgba(28, 28, 28, 0.10));
            margin: 0;
            width: 100%;
            &.fixed{
                position: fixed;
                top: 27px;
                padding-top: 16px;
                left: 0;
                right: 0;
                z-index: 10;
                box-sizing: border-box;
                max-width: 100%;
                padding-left: 16px;
                padding-right: 16px;

                background: #FFF;
                @media (prefers-color-scheme: dark) {
                    background: #1C1C1C;
                }
            }

            .el-tabs__nav-wrap:after{
                background: none;
            }
            .el-tabs__active-bar{
                background: var(--black-100, #1C1C1C);
            }
            .el-tabs__header{
                margin: 0;
            }
            .el-tabs__item{
                text-align: center;
                /* 14 Bold */
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                height: 24px;
                padding: 0;
                margin: 0;
                line-height: 20px; /* 142.857% */
                color: var(--black-40, rgba(255, 255, 255, 0.40));

                &.is-active{
                    color: var(--black-100);

                }
            }
        }

    }

    .m-empty{
        background: #FFF;
        opacity: 76%;
        @media (prefers-color-scheme: dark) {
            background: #1C1C1C;
        }
    }
}
